AdditionalData: "visitId=tcsEvent.visitId"
RunMode: "postprocess"
InputItems: {
    theProperty: {
        Type: "DataProperty"
        PythonType: "lsst.daf.base.DataProperty"
        StoragePolicy: {
            Storage: "BoostStorage"
            Location: "theProperty.%{visitId}.%{sliceId+1}"
        }
    }
}
