AdditionalData: "visitId=IpdpImageEvent.visitid"
RunMode: "process"
InputItems: {
    inputImage: {
        Type: "DataProperty"
        PythonType: "lsst.daf.base.DataProperty"
        StoragePolicy: {
            Storage: "BoostStorage"
            Location: "inputImage.%{visitId}.%{sliceId}"
        }
    }
}
