parameters: {
    additionalData: "visitId=tcsEvent.visitId"
    runMode: "postprocess"
    inputItems: {
        theProperty: {
            type: "PropertySet"
            pythonType: "lsst.daf.base.PropertySet"
            storagePolicy: {
                storage: "BoostStorage"
                location: "theProperty.%(visitId)"
            }
        }
    }
}
