AdditionalData: "visitId=tcsEvent.visitId"
OutputItems: {
    theProperty: {
        Required: true
        StoragePolicy: {
            Storage: "BoostStorage"
            Location: "theProperty.%(visitId)"
        }
    }
}
