parameters: {
    additionalData: "visitId=tcsEvent.visitId"
    outputItems: {
        theProperty: {
            required: true
            storagePolicy: {
                storage: "BoostStorage"
                location: "theProperty.%(visitId)"
            }
        }
    }
}
