
# /
/.sconsign.dblite
/.sconf_temp
/config.log

# /doc/
/doc/htmlDir

# /examples/eventstage/
/examples/eventstage/*.log

# /examples/inputoutput/
/examples/inputoutput/*.log

# /examples/inputoutputfits/
/examples/inputoutputfits/*.log

# /lib/
/lib/*.so

# /python/lsst/pex/
/python/lsst/pex/*.pyc

# /python/lsst/pex/harness/
/python/lsst/pex/harness/harnessLib.py
/python/lsst/pex/harness/*_wrap.cc
/python/lsst/pex/harness/*.os
/python/lsst/pex/harness/*.pyc

# /src/
/src/*.os

# /tests/
/tests/.tests
/tests/testTracingLog
