# DiskRoot.policy

#  Root pathnames on various devices for Consumer R/W operations
#       GPFS device name
#           gpfs = pathname
#               format: text string; 
#               default: /gpfs_sanscratch/rallsman/Consumer
#       RAM FS device name
#           ram = pathname
#               format: text string; 
#               default: /dev/shm/Consumer
#       QUEUE root directory name
#           queue = pathname
#               format: text string; 
#               default: /dev/shm/Consumer
#       SQL repository for prototype sql commands and sample data sets
#           sql = pathname
#               format: text string; 
#               default: /home/robyn/LsstDC1/Consumer/sql

#gpfs = /gpfs_sanscratch/rallsman/Consumer
#ram = /dev/shm/Consumer
gpfs = /home/ncsa/rallsman/tmp
ram = /home/ncsa/rallsman/tmp
queue = /home/ncsa/rallsman/tmp
scratch = /home/ncsa/rallsman/tmp

#======================================================================
#          * * T H I S * *  Policy File's Characterization
#----------------------------------------------------------------------
# clientPolicyName   - generic name of this policy configuration
#           Format: string     Default:      Units:
#           Constraints: no check
clientPolicyName = DiskRoot
                                                                                
# clientPolicyVersion   - version of this Policy file
#           Format: string     Default:      Units:
#           Constraints: no check
clientPolicyVersion = '1.0'
                                                                                
# serverPolicyVersion   - version of Policy class matching this config file
#           Format: string     Default:      Units:
#           Constraints: no check
serverPolicyVersion = '1.0'
                                                                                
# logFile   - filename for logging output
#           Format: string     Default: Code.log     Units:
#           Constraints: none
logFile = Consumer.log
                                                                                
# diagnose  - Logging verbosity level
#           Format: int     Default: 2    Units: range(0:3), 0=low, 3=max
#           Constraints:
diagnose = 2

