# Batch.policy
                                                                                
#-----------------------------------------------------------------------
# Define Batch/MPI organization
#-----------------------------------------------------------------------
# Select number of nodes
nodes = 5
                                                                                
# Number of CCDs per Image
numCCD = 16

# PBS keyword
queue = debug		# use = dque for times > half-hour
jobname = LsstHarnessPipeline
walltime =  00:05:00
stdout = TestQsub.out
stderr = TestQsub.err
accnt =  lso


                                                                                
#======================================================================
#          * * T H I S * *  Policy File's Characterization
#----------------------------------------------------------------------
# clientPolicyName   - generic name of this policy configuration
#           Format: string     Default:      Units:
#           Constraints: no check
clientPolicyName = Batch
                                                                                
# clientPolicyVersion   - version of this Policy file
#           Format: string     Default:      Units:
#           Constraints: no check
clientPolicyVersion = '1.0'
                                                                                
# serverPolicyVersion   - version of Policy class matching this config file
#           Format: string     Default:      Units:
#           Constraints: no check
serverPolicyVersion = '1.0'
                                                                                
# logFile   - filename for logging output
#           Format: string     Default: Code.log     Units:
#           Constraints: none
logFile = SetupPipeline.log
                                                                                
# diagnose  - Logging verbosity level
#           Format: int     Default: 2    Units: range(0:3), 0=low, 3=max
#           Constraints:
diagnose = 2
                                                                                

