AdditionalData: "exposureId=triggerVisitEvent.exposureId" "filterName=triggerVisitEvent.filterName"
Links: {
	sourcePath: "/lsst/images/becker/D4/%(filterName)s/output/%(ccdId)s/%(exposureId)d"
	destPath: "test.%(exposureId)d"
}
