# logging.policy
#
# Author: Michelle Miller
# Date:   Aug. 2, 2006
#
# Define central logging node, communication port on that node, and
# fully-qualified pathname to one central logfile.

logNode = ds30.ncsa.uiuc.edu
logPort = 2151
logFile = /tmp/lsst.log
