AdditionalData: "visitId=triggerIpdpEvent.visitid"
RunMode: "process"
InputItems: {
    inputImage: {
        Type: "DataProperty"
        PythonType: "lsst.mwi.data.DataProperty"
        StoragePolicy: {
            Storage: "BoostStorage"
            Location: "inputImage.%{visitId}.%{sliceId}"
        }
    }
}
