parameters: {
    additionalData: "visitId=triggerIpdpEvent.visitid"
    runMode: "process"
    inputItems: {
            theProperty: {
                type: "PropertySet"
                pythonType: "lsst.daf.base.PropertySet"
                storagePolicy: {
                    storage: "BoostStorage"
                    location: "inputImage.%(visitId).%(sliceId)"
                }
            }
    }
}
