AdditionalData: "visitId=triggerIpdpEvent.visitid"
RunMode: "process"
InputItems: {
    inputImage: {
        Type: "PropertySet"
        PythonType: "lsst.daf.base.PropertySet"
        StoragePolicy: {
            Storage: "BoostStorage"
            Location: "inputImage.%(visitId).%(sliceId)"
        }
    }
}
